<body>

<div style="margin:10px 10px 10px 10px;">
    <a id="dailySale" style="margin-left: 20px;" href="#" class="easyui-linkbutton">今日销售数据</a>
    <a id="expotInventoryDetail" style="margin-left: 20px;" href="#" class="easyui-linkbutton">导出</a>
</div>

<div id="inventoryDetail" style="margin:10px 10px 10px 10px;">
    <label>类型</label>
    <select id="type" class="easyui-combobox" style="width: 200px;" name="type">
        <option value="">全部</option>
        <option value="1">入库</option>
        <option value="2">出库</option>
    </select>
    <label>日期</label>
    <input id="dd" type="text" class="easyui-datebox">
    <a id="btnSearch" style="margin-left: 20px;" href="#" class="easyui-linkbutton">搜索</a>
</div>

<div style="margin:10px 10px 10px 10px;">
    <table id="dg2"></table>
</div>

<div id="diaEdit" class="easyui-dialog" title="My Dialog"
     data-options="iconCls:'icon-save',resizable:true,modal:true,closed:true">
    <label>名称</label>
    <input class="easyui-textbox" name="name" id="dia_name"/>
</div>

<script type="text/javascript" th:inline="none">
    $(function () {
        var curr_time = new Date();
        //$('#dd').datebox('setValue', curr_time.Format("yyyy-MM-dd hh:mm:ss"));

        $('#dd').datebox({
            value: curr_time.Format("yyyy-MM-dd hh:mm:ss"),
            onSelect: function (date) {
                refresh();
            }
        });
        refresh();

        $('#inventoryDetail #btnSearch').click(function () {
            refresh();
        });

        $("#btnAdd").click(function () {
            $('#diaEdit').dialog('open').dialog({
                title: "添加流程",
                width: 350,
                height: 250,
                modal: true,
                closed: false
            });

        });

        function typeConvert(value) {
            if (value == 1) {
                return "入库";
            } else if (value == 2) {
                return "出库";
            }
        }

        function refresh() {
            var model = {
                type: $('#inventoryDetail #type').combobox('getValue'),
                createDate: $('#inventoryDetail #dd').combobox('getValue')
            }

            $('#dg2').datagrid({
                title: '列表',
                url: '/inventoryDetail/getList',
                // type: "POST",
                // data: JSON.stringify(model),
                // dataType: 'json',
                // contentType: 'application/json;charset=utf-8',
                queryParams: model,
                rownumbers: true,
                pageList: [10, 20, 30],//选择一页显示多少数据
                pagination: true,
                columns: [[
                    // {field: 'name', title: '名称', width: 100},
                    // {field: 'spec', title: '规格', width: 100},
                    {field: 'inventoryName', title: '名称', width: 100},
                    {field: 'inventorySpec', title: '规格', width: 100},
                    {field: 'qty', title: '数量', width: 100},
                    {field: 'price', title: '价格', width: 100},
                    {field: 'type', title: '类型', width: 100, formatter: typeConvert},
                    {field: 'createTime', title: '创建日期', width: 200, formatter: dateTimeFormatter},
                    // {
                    //     field: 'operation', title: '操作', width: 200, formatter: operation
                    // }
                ]]
            });
        }

        $("#dailySale").click(function () {
            var curr_time = new Date();
            $('#dd').datebox('setValue', curr_time.Format("yyyy-MM-dd hh:mm:ss"));
            $('#inventoryDetail #type').combobox('setValue', 2);
            refresh();
            return false;
        });

        $("#expotInventoryDetail").click(function () {
            var model = {
                type: $('#inventoryDetail #type').combobox('getValue'),
                createDate: $('#inventoryDetail #dd').combobox('getValue')
            }

            window.open('/inventoryDetail/export?type=' + model.type + '&createDate=' + model.createDate);

            return false;
        });
    });
</script>
</body>


