<body>

<!--<input type="button" id="btn0" value="添加分类"/>-->
<!--<br/>-->

<div style="margin:10px 10px 10px 10px;">
    <label>名称</label>
    <input class="easyui-textbox" name="name" id="search_name"/>
    <label style="margin-left: 20px;">规格</label>
    <input class="easyui-textbox" name="spec" id="search_spec"/>
    <label style="margin-left: 20px;">位置</label>
    <input class="easyui-textbox" name="location" id="search_location"/>
    <label style="margin-left: 20px;">是否需要补货</label>
    <select id="isNeedAdd" class="easyui-combobox" style="width: 200px;" name="isNeedAdd">
        <option value="">全部</option>
        <option value="1">是</option>
        <option value="2">否</option>
    </select>
    <a id="btn1" style="margin-left: 20px;" href="#" class="easyui-linkbutton">搜索</a>

    <a id="btnAdd" style="margin-left: 20px;" href="#" class="easyui-linkbutton"
       data-options="iconCls:'icon-add'">添加</a>
    <!--    data-options="iconCls:'icon-blank'"-->
</div>

<!--<input type="button" id="btn2" value="进货"/>-->
<!--<input type="button" id="btn3" value="出货"/>-->
<div style="margin:10px 10px 10px 10px;">
    <table id="dg"></table>
</div>

<div id="diaEdit" class="easyui-dialog" title="My Dialog"
     data-options="iconCls:'icon-save',resizable:true,modal:true,closed:true">
    <table>
        <tr>
            <td>名称</td>
            <td>
                <input class="easyui-textbox" name="name" id="dia_name"/>
            </td>
        </tr>
        <tr>
            <td>规格</td>
            <td>
                <input class="easyui-textbox" name="spec" id="dia_spec"/>
            </td>
        </tr>
        <tr>
            <td>位置</td>
            <td>
                <input class="easyui-textbox" name="location" id="dia_location"/>
            </td>
        </tr>
        <tr id="diaqtytr">
            <td>数量</td>
            <td>
                <input class="easyui-numberbox" name="qty" data-options="min:0,precision:0" id="dia_qty"/>
            </td>
        </tr>

        <tr>
            <td>最低库存数量</td>
            <td>
                <input class="easyui-numberbox" name="minqty" data-options="min:0,precision:0" id="dia_minqty"/>
            </td>
        </tr>


        <tr>
            <td colspan="2" style="text-align: right;">
                <a id="btn_save" style="margin-left: 20px;" href="#" class="easyui-linkbutton">保存</a>
            </td>
        </tr>
    </table>

</div>

<div id="diaInOutstore" class="easyui-dialog" title="My Dialog"
     data-options="iconCls:'icon-save',resizable:true,modal:true,closed:true">
    <table>
        <input type="hidden" id="storeId"/>
        <tr>
            <td>名称</td>
            <td>
                <label id="diain_name"></label>
            </td>
        </tr>
        <tr>
            <td>规格</td>
            <td>
                <label id="diain_spec"></label>
            </td>
        </tr>
        <tr>
            <td>数量</td>
            <td>
                <input class="easyui-numberbox" name="qty" data-options="min:1,precision:0" id="diain_qty"/>
            </td>
        </tr>

        <tr>
            <td>价格</td>
            <td>
                <input class="easyui-numberbox" name="price" data-options="min:0,precision:2" id="diain_price"/>
            </td>
        </tr>

        <tr>
            <td colspan="2" style="text-align: right;">
                <a id="btnin_save" style="margin-left: 20px;" href="#" class="easyui-linkbutton">保存</a>
            </td>
        </tr>
    </table>

</div>

<script type="text/javascript" th:inline="none">
    $(function () {
        refresh();

        $("#btn1").click(function () {
            refresh();
        });

        $("#btnAdd").click(function () {

            $('#diaEdit').dialog('open').dialog({
                title: "添加库存",
                width: 288,
                height: 250,
                modal: true,
                closed: false
            });
            //$("#dia_name").textbox("setValue", "默认");
            $('#diaqtytr').show();

            $('#btn_save').click(function () {
                var model = {
                    name: $('#dia_name').textbox('getValue'),
                    spec: $('#dia_spec').textbox('getValue'),
                    qty: $('#dia_qty').textbox('getValue'),
                    location: $('#dia_location').textbox('getValue'),
                    minQty: $('#dia_minqty').textbox('getValue')
                }

                $.ajax({
                    url: "/inventory/add",
                    // data: model,
                    type: "POST",
                    data: JSON.stringify(model),
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8',
                    success: function (data) {
                        if (data.status > 0) {
                            myShow("添加成功");
                            $("#diaEdit").window('close');
                            refresh();
                        } else {
                            myShow("添加失败");
                        }
                    }
                });
            })

            return false;
        });

        function isNeedAdd(value, row, index) {
            if (row.minQty > row.qty) {
                return "<font color='red'>是</font>";
            } else {
                return "否";
            }
        }

        function operation(value, row, index) {
            var Action = "<a href='javascript:void(0);' onclick='inStore(" + row.id + "," + "\"" + row.name + "\"" + "," + "\"" + row.spec + "\"" + "," + "\"" + row.lastInPrice + "\"" + ")'>入库</a>\
                                    | <a href='javascript:void(0);' onclick='outStore(" + row.id + "," + "\"" + row.name + "\"" + "," + "\"" + row.spec + "\"" + "," + "\"" + row.lastOutPrice + "\"" + ")'>出库</a>\
                                    | <a href='javascript:void(0);' onclick='editRow(" + row.id + "," + "\"" + row.name + "\"" + "," + "\"" + row.spec + "\"" + "," + "\"" + row.location + "\"" + "," + "\"" + row.minQty + "\"" + ")'>修改</a>\
                                    | <a href='javascript:void(0);' onclick='deleteRow(" + row.id + ")'>删除</a>";
            return Action;
        }

        inStore = function (id, name, spec, price) {
            inoutStore("入库", id, name, spec, "/inventoryDetail/addIn", price);
            return false;
        };

        outStore = function (id, name, spec, price) {
            inoutStore("出库", id, name, spec, "/inventoryDetail/addOut", price)
            return false;
        }

        editRow = function (id, name, spec, location, minQty) {
            $('#diaEdit').dialog('open').dialog({
                title: "编辑货物",
                width: 288,
                height: 250,
                modal: true,
                closed: false
            });

            if (location == 'null') {
                location = "";
            }

            $('#dia_name').textbox('setValue', name);
            $('#dia_spec').textbox('setValue', spec);
            $('#dia_location').textbox('setValue', location);
            $('#dia_minqty').textbox('setValue', minQty);

            $('#diaqtytr').hide();

            $('#btn_save').unbind('click').click(function () {
                var model = {
                    id: id,
                    name: $('#dia_name').textbox('getValue'),
                    spec: $('#dia_spec').textbox('getValue'),
                    //qty: $('#dia_qty').textbox('getValue'),
                    location: $('#dia_location').textbox('getValue'),
                    minQty: $('#dia_minqty').textbox('getValue')
                }

                $.ajax({
                    url: "/inventory/edit",
                    // data: model,
                    type: "POST",
                    data: JSON.stringify(model),
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8',
                    success: function (data) {
                        if (data.status > 0) {
                            myShow("编辑成功");
                            $("#diaEdit").window('close');
                            refresh();
                        } else {
                            myShow("编辑失败");
                        }
                    }
                });
                return false;
            });
        }

        deleteRow = function (id) {
            var model = {
                id: id
            }

            $.ajax({
                url: "/inventory/delete",
                type: "POST",
                data: JSON.stringify(model),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data.status > 0) {
                        myShow("删除成功");
                        refresh();
                    } else {
                        myShow("删除失败");
                    }
                }
            });

            return false;
        }

        function inoutStore(title, id, name, spec, url, price) {
            $('#diaInOutstore').dialog('open').dialog({
                title: title,
                width: 288,
                height: 250,
                modal: true,
                closed: false
            });
            $("#storeId").val(id);
            $("#diain_name").text(name);
            $("#diain_spec").text(spec);
            $("#diain_qty").textbox("setValue", "");

            if (price != undefined && price != "null") {
                $("#diain_price").textbox("setValue", price);//默认值
            } else {
                $("#diain_price").textbox("setValue", "");
            }

            $('#btnin_save').unbind('click').click(function () {
                var model = {
                    inventoryId: id,
                    qty: $('#diain_qty').textbox('getValue'),
                    price: $('#diain_price').textbox('getValue')
                }

                $.ajax({
                    url: url,
                    type: "POST",
                    data: JSON.stringify(model),
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8',
                    success: function (data) {
                        if (data.status > 0) {
                            myShow("添加成功");
                            $("#diaInOutstore").window('close');
                            refresh();
                        } else {
                            myShow("添加失败");
                        }
                    }
                });

                return false;
            })
        };

        function refresh() {
            var model = {
                name: $('#search_name').textbox('getValue'),
                spec: $('#search_spec').textbox('getValue'),
                location: $('#search_location').textbox('getValue'),
                isNeedAdd: $('#isNeedAdd').combobox('getValue')
            }

            if (model.isNeedAdd == "") {
                model.isNeedAdd = 0;
            }

            $('#dg').datagrid({
                title: '列表',
                url: '/inventory/getList',
                // type: "POST",
                // data: JSON.stringify(model),
                // dataType: 'json',
                // contentType: 'application/json;charset=utf-8',
                queryParams: model,
                rownumbers: true,
                pageList: [10, 20, 30],//选择一页显示多少数据
                pagination: true,
                columns: [[
                    {field: 'name', title: '名称', width: 100},
                    {field: 'spec', title: '规格', width: 100},
                    {field: 'qty', title: '数量', width: 100},
                    {field: 'location', title: '位置', width: 100},
                    {field: 'minQty', title: '最低库存数量', width: 100},
                    {field: 'isNeed', title: '是否需要补货', width: 100, formatter: isNeedAdd},
                    {
                        field: 'operation', title: '操作', width: 200, formatter: operation
                    }
                ]]
            });
        }
    });
</script>
</body>


